[submodule "Frameworks/mGBA/mGBA/mgba"]
	path = Frameworks/mGBA/mGBA/mgba
	url = https://g.losno.co/chris/mgba.git
[submodule "Frameworks/AdPlug/AdPlug/adplug"]
	path = Frameworks/AdPlug/AdPlug/adplug
	url = https://github.com/adplug/adplug.git
[submodule "Frameworks/libbinio/libbinio/libbinio"]
	path = Frameworks/libbinio/libbinio/libbinio
	url = https://github.com/adplug/libbinio.git
[submodule "Frameworks/AdPlug/AdPlug/database"]
	path = Frameworks/AdPlug/AdPlug/database
	url = https://github.com/adplug/database.git
[submodule "Frameworks/libsidplay/sidplay-residfp-code"]
	path = Frameworks/libsidplay/sidplay-residfp-code
	url = https://g.losno.co/chris/sidplay-residfp.git
[submodule "Frameworks/libatrac9/libatrac9"]
	path = Frameworks/libatrac9/libatrac9
	url = https://github.com/Thealexbarney/LibAtrac9.git
[submodule "Frameworks/Sparkle"]
	path = Frameworks/Sparkle
	url = https://g.losno.co/chris/Sparkle.git
