[submodule "Frameworks/Sparkle"]
	path = Frameworks/Sparkle
	url = https://gitlab.kode54.net/kode54/Sparkle.git
[submodule "Frameworks/mGBA/mGBA/mgba"]
	path = Frameworks/mGBA/mGBA/mgba
	url = https://github.com/kode54/mgba.git
