.DS_Store
xcuserdata
/build

# Special cog exceptions
!Frameworks/OpenMPT/OpenMPT/build

# User-specific xcconfig files
Xcode-config/DEVELOPMENT_TEAM.xcconfig
Xcode-config/SENTRY_SETTINGS.xcconfig

# Plist derived from template at build time
/Info.plist

# This indicates the libraries are up to date
/ThirdParty/libraries.updated

# Temporary file to indicate libraries are being extracted by one process
/ThirdParty/libraries.extracting

# The project will unpack these before building, if necessary
/ThirdParty/BASS/libbass.dylib
/ThirdParty/BASS/libbass_mpc.dylib
/ThirdParty/BASS/libbassflac.dylib
/ThirdParty/BASS/libbassmidi.dylib
/ThirdParty/BASS/libbassopus.dylib
/ThirdParty/BASS/libbasswv.dylib
/ThirdParty/avif/lib/libdav1d.a
/ThirdParty/avif/lib/libyuv.a
/ThirdParty/avif/lib/libavif.a
/ThirdParty/fdk-aac/lib/libfdk-aac.2.dylib
/ThirdParty/fdk-aac/lib/libfdk-aac.a
/ThirdParty/fdk-aac/lib/libfdk-aac.dylib
/ThirdParty/fdk-aac/lib/libfdk-aac.la
/ThirdParty/fdk-aac/lib/pkgconfig/fdk-aac.pc
/ThirdParty/ffmpeg/lib/libavcodec.61.dylib
/ThirdParty/ffmpeg/lib/libavformat.61.dylib
/ThirdParty/ffmpeg/lib/libavutil.59.dylib
/ThirdParty/ffmpeg/lib/libswresample.5.dylib
/ThirdParty/flac/lib/libFLAC.14.dylib
/ThirdParty/libid3tag/lib/libid3tag.a
/ThirdParty/libmad/lib/libmad.a
/ThirdParty/libopenmpt/lib/libopenmpt.a
/ThirdParty/libopenmpt_old/lib/libopenmpt.old.a
/ThirdParty/libvgm/lib/libvgm-emu.a
/ThirdParty/libvgm/lib/libvgm-player.a
/ThirdParty/libvgm/lib/libvgm-utils.a
/ThirdParty/mpg123/lib/libmpg123.0.dylib
/ThirdParty/ogg/lib/libogg.0.dylib
/ThirdParty/opus/lib/libopus.0.dylib
/ThirdParty/opusfile/lib/libopusfile.0.dylib
/ThirdParty/rubberband/lib/librubberband.3.dylib
/ThirdParty/speex/libspeex.a
/ThirdParty/vorbis/lib/libvorbisfile.3.dylib
/ThirdParty/vorbis/lib/libvorbis.0.dylib
/ThirdParty/soxr/lib/libsoxr.0.dylib
/ThirdParty/WavPack/lib/libwavpack.a
