[submodule "Frameworks/Sparkle"]
	path = Frameworks/Sparkle
	url = https://gitlab.kode54.net/kode54/Sparkle.git
[submodule "Frameworks/mGBA/mGBA/mgba"]
	path = Frameworks/mGBA/mGBA/mgba
	url = https://github.com/kode54/mgba.git
[submodule "Frameworks/AdPlug/AdPlug/adplug"]
	path = Frameworks/AdPlug/AdPlug/adplug
	url = https://github.com/adplug/adplug.git
[submodule "Frameworks/libbinio/libbinio/libbinio"]
	path = Frameworks/libbinio/libbinio/libbinio
	url = https://github.com/adplug/libbinio.git
[submodule "Frameworks/AdPlug/AdPlug/database"]
	path = Frameworks/AdPlug/AdPlug/database
	url = https://github.com/adplug/database.git
[submodule "Frameworks/libsidplay/sidplay-residfp-code"]
	path = Frameworks/libsidplay/sidplay-residfp-code
	url = https://gitlab.kode54.net/kode54/sidplay-residfp.git
