<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vqf</string>
				<string>vqe</string>
				<string>vql</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>VQF File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mo3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>MO3 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ahx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>Abyss Highest Experience Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hvl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>Hively Tracker Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sfm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>SFM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lds</string>
				<string>xmi</string>
				<string>mus</string>
				<string>hmp</string>
				<string>hmi</string>
				<string>mds</string>
				<string>mids</string>
				<string>rmi</string>
				<string>kar</string>
				<string>midi</string>
				<string>mid</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>MIDI Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amr-wb</string>
				<string>amr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>AMR Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>2sf</string>
				<string>mini2sf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo DS Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>at3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>ATRAC3 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dtshd</string>
				<string>dts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>DTS Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ac3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>AC3 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>TrueAudio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>minincsf</string>
				<string>ncsf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nitro Sound Composer Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vgm7z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>VGM7Z Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rsn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>RSN Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xwma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>XWMA Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tak</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>TAK Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpa</string>
				<string>m2a</string>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>SGC Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>minigsf</string>
				<string>gsf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Game Boy Advance Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ay</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>umx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>Unreal Music Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>okta</string>
				<string>okt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>Oktalyzer Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>AMF Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>DSM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>j2b</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>Jazz Jackrabbit 2 J2B Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>am</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>RIFF AM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>PSM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>669</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>669 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mtm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>MTM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ptm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>PTM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>stz</string>
				<string>stm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>STM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ogg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ogg Opus Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Windows Media Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>miniqsf</string>
				<string>qsf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>QSound Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>minidsf</string>
				<string>dsf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sega Dreamcast Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>minissf</string>
				<string>ssf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sega Saturn Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>minipsf2</string>
				<string>minipsf</string>
				<string>psf2</string>
				<string>psf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sony Playstation Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>aiff.icns</string>
			<key>CFBundleTypeName</key>
			<string>AIFF Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
				<string>wave</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wav.icns</string>
			<key>CFBundleTypeName</key>
			<string>Wave Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mp3.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP3 Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>flac.icns</string>
			<key>CFBundleTypeName</key>
			<string>FLAC Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ape</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ape.icns</string>
			<key>CFBundleTypeName</key>
			<string>Monkey&apos;s Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Musepack Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ogg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shn</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>shn.icns</string>
			<key>CFBundleTypeName</key>
			<string>Shorten File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wvp</string>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>wv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Wavpack File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m4a.icns</string>
			<key>CFBundleTypeName</key>
			<string>M4A File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gbs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Game Boy Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gym</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sega Genesis Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hes</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>PC Engine Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kss</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>MSX Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsf</string>
				<string>nsfe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>NES Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Atari XL Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Super Nintendo Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vgm</string>
				<string>vgz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sega SMS/Genesis Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mdz</string>
				<string>mod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>song.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOD Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xmz</string>
				<string>xm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xm.icns</string>
			<key>CFBundleTypeName</key>
			<string>XM Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>s3z</string>
				<string>s3m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>s3m.icns</string>
			<key>CFBundleTypeName</key>
			<string>S3M Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>itz</string>
				<string>it</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>it.icns</string>
			<key>CFBundleTypeName</key>
			<string>IT Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pls.icns</string>
			<key>CFBundleTypeName</key>
			<string>PLS Playlist File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u8</string>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>m3u.icns</string>
			<key>CFBundleTypeName</key>
			<string>M3U Playlist File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cue</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cue.icns</string>
			<key>CFBundleTypeName</key>
			<string>CUE Sheet File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>apl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cue.icns</string>
			<key>CFBundleTypeName</key>
			<string>APL Link File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cog</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Cog.help</string>
	<key>CFBundleHelpBookName</key>
	<string>org.cogx.cog.help</string>
	<key>CFBundleIconFile</key>
	<string>icon_main</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.08</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>r516</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>MediaKeysApplication</string>
	<key>NSAppTransportSecurity</key>  
	<dict>  
		<key>NSAllowsArbitraryLoads</key><true/>  
	</dict>
	<key>SUFeedURL</key>
	<string>https://f.losno.co/cog/mercury.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>omxG7Rp0XK9/YEvKbVy7cd44eVAh1LJB6CmjQwjOJz4=</string>
	<key>NSLocationUsageDescription</key>
	<string>Cog has no use for your location information. Something is obviously wrong with the application.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Cog has no use for your calendar information. Why are you trying to open your Calendar with an audio player?</string>
	<key>NSContactsUsageDescription</key>
	<string>Cog has no use for your contacts information. Why are you trying to open your contacts with an audio player?</string>
	<key>NSRemindersUsageDescription</key>
	<string>Cog has no use for your reminders. Why are you trying to access them with an audio player?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cog is an audio player. Why are you trying to access your Photos Library with an audio player?</string>
	<key>NSCameraUsageDescription</key>
	<string>Cog is an audio player. It will never use your camera. Why is it asking for permission to use your camera?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cog is an audio player. It does not, however, record audio. Why is it asking for permission to use your microphone?</string>
</dict>
</plist>
