<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookTitle</key>
	<string>Cog Help</string>
	<key>HPDBookKBURL</key>
	<string>https://bitbucket.org/kode54/cog</string>
	<key>HPDBookKBProduct</key>
	<string>cog1</string>
	<key>HPDBookIndexPath</key>
	<string>Cog.helpindex</string>
	<key>HPDBookIconPath</key>
	<string>shrd/icon.png</string>
	<key>HPDBookAccessPath</key>
	<string>Cog.html</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleName</key>
	<string>Cog</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>org.cogx.cog.help</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_us</string>
</dict>
</plist>
