// If you'd like to enable last.fm scrobbling, you'll need to
// apply for your key at https://www.last.fm/api/account/create
LASTFM_API_KEY = 
LASTFM_API_SECRET = 

// This is only temporary while authentication is being implemented.
// It's the result of a auth.getSession API call.
// https://www.last.fm/api/authspec
LASTFM_SESSION = 
