<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>  
	<key>Label</key>
	<string>com.vspader.cog.nightly</string>
	<key>ProgramArguments</key>
	<array> 
		<string>./Scripts/build_nightly.rb</string>
		<string>daily</string>
	</array>
	<key>UserName</key>
	<string>vspader</string>
	<key>WorkingDirectory</key>
	<string>/Users/vspader/Projects/Cog</string>
	<key>StartCalendarInterval</key>
	<dict>  
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>

